#title {
    text-align: center;
    font-size: 50px;
    color: blue;
    margin: auto;
}

.blue{
    text-align: right;
    margin-right: 50px;
    font-size: 30px;
    color: blue;
}
.yellow{
    text-align: left;
    margin-left: 50px;
    font-size: 30px;
    color: yellow;
}
.win{
    display: none;
}

.winBlue{
    position: absolute;
    width: 1500px;
    height: 100px;
    border: 1px solid black;
    padding: 150px;
    margin: auto;
    background-color:#ffffa6;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
    font-size: 80px;
    text-align: center;
    color: blue;
    text-shadow: 2px 2px 10px #0000ff, 0 0 20px #a3b5ff;
   
}
.lineUp {
  animation: 2s anim-lineUp ease-out infinite;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(-50%, calc(-50% + 80%));
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%, -50%);
  }
}
.winYellow{
    width: 1500px;
    height: 100px;
    border: 1px solid black;
    padding: 150px;
    margin: auto;
    background-color:#9595ec;
    top: 50%;
    left: 50%;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
    font-size: 80px;
    text-align: center;
    color: yellow;
    text-shadow: 2px 2px 10px #ffff66, 0 0 20px #ffea00;
    
}

.board{
    position: relative;
    width: 550px;
    height: 585px;
    border: 1px solid black;
    padding: 150px;
    margin: auto;
    background-color: #76767b7c;
}


.dot {
    position: absolute;
    height: 75px;
    width: 75px;
    background-color: hwb(0 100% 0%);
    border-radius: 50%;
    display: inline-block;
    top: 52.5px; 
    left: 52.5px;
}
/*yellow chips*/
.dot.Y{
    background-color: yellow;
}

/*blue chips*/
.dot.B{
    background-color: blue;
}

footer{
    text-align: center;
    color: yellow;
    margin:auto;
    padding: 1rem 1rem;
}
